<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/intro.js/intro.js"></script>
<link href="https://unpkg.com/intro.js/introjs.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis"></script>

<div id="app">
    <div class="bg-dark collapse" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                </div>
                <div class="col-sm-4 offset-md-1 py-4" id="welcome">
                    <h4 class="text-white">Links</h4>
                    <ul class="list-unstyled text-white">
                        <li><text>Linked List</text></li>
                        <li><text>Tree</text></li>
                        <li><text>Graphs</text></li>
                        <li><text>Sorting</text></li>
                        <li><text>Breath-first Search</text></li>
                        <li><text>Depth-first Search</text></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="../index.html" class="navbar-brand d-flex align-items-center">
                <h5 class="text-white">Home</h5>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

      <div class="grid-container">
        <div class="item"><embed src="../assets/certificates/problem_solving_intermediate certificate.pdf" width="300px" height="286px" /></div>
        <div class="item"><embed src="../assets/certificates/sql_intermediate certificate.pdf" width="300px" height="286px" /></div>
        <div class="item"><embed src="../assets/certificates/UC-ef568d59-f198-4df5-a3fd-6ff556efce6e.pdf" width="300px" height="286px" /></div>
        <div class="item"><embed src="../assets/certificates/javascript_intermediate certificate.pdf" width="300px" height="286px" /></div>
        <div class="item"><embed src="../assets/certificates/88194309-4ebf-4242-bfdb-a34427cb0d58_230420094803.pdf" width="300px" height="286px" /></div>
        <div class="item"><embed src="../assets/certificates/nodejs_basic certificate_230420112630.pdf" width="300px" height="286px" /></div>
        <div class="item"><embed src="../assets/certificates/UC-2ec6b88a-5be6-4128-8ebd-d260ef778b78.pdf" width="300px" height="286px" /></div>
      </div>
      
</div>    